[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
watchdog = "*"
pypdf = "*"
easyocr = "*"
pdf2image = "*"
pillow = "*"
python-pptx = "*"
python-docx = "*"

[dev-packages]

[requires]
python_version = "3.11"
